.list-shop {
    background-color: #EBD96B;
    margin-left: auto;
    margin-right: auto;
    padding: 0 120px 0 120px;
}

.list-shop ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.list-shop img {
    width: 70%;
}